{% extends 'base.html' %}

{% block head %}
    <title>brain tumor detector:3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<div class="center">
    
    <h1 style="text-align: center">Test :3</h1>

    <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
        <!-- Add file input field for uploading -->
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <br><br>
        <!-- Add submit button -->
        <input type="submit" value="Upload">
    </form>

    <!-- center this in styles -->
    <table class="content">
        <tr>
            <th>id</th>
            <th>image</th>
            <th>options</th>
        </tr>
        <tr>
            <td><h1></h1></td>
            <td><h1></h1></td>
            <td>
                <a href="#">generate response</a>
                <br>
                <a href="#">ai doctor</a>
            </td>
        </tr>
    </table>


    {% if latest_image_url %}
        <img src="{{ latest_image_url }}" alt="Latest Image">
    {% else %}
        <p>No image available</p>
    {% endif %}
</div>
{% endblock %}
