{% extends 'base.html' %}

{% block head %}
    <title>brain tumor detector :3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<div class="center">
    
    <h1 style="text-align: center">brain tumor detector :3</h1>

    <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
        <!-- Add file input field for uploading -->
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <br><br>
        <!-- Add submit button -->
        <input type="submit" value="Upload">
    </form>

    <!-- center this in styles -->
    <table class="content">
        <tr>
            <th>id</th>
            <th>image</th>
            <th>options</th>
        </tr>
        {% for response in responses %}
        <tr>
            <td>{{ response.id }}</td>
            <td> {{ response.date_created.date() }}</td>
            <td>
                <a href="/view/{{response.id}}">view :O</a>
                <br>
                <a href="#">ai doctor</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
